<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="book.flutter.com.state_and_inherited_widget_add">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
